{%extends 'base.html'%}
{%block body%}
<div class="container">
    <div class="row d-flex justify-content-center text-center">
        <form method="post" action="{{url_for('scraper.handle_form_request')}}">
            <label for="product"><h3>Enter product name</h3></label><br>
            <input type="text" id="product" name="product" class="form-control"><br>
            <div class="btn-group d-flex" role="group">
                <button type="submit" name="options" value="Amazon" class="btn btn-primary">Amazon</button>
                <button type="submit" name="options" value="NewEgg" class="btn btn-warning">NewEgg</button>
            </div>
            <div class="mt-1">Scraping from: <br><span id="selected-website">Website not selected</span></div>
        </form>
    </div>
</div>
<div class="container mt-5">
    <div class="row d-flex justify-content-between">
        <div class="col-lg-4 text-center">
            <ul class="list-group">
                <button tpye="button" class="btn btn-primary mb-3" disabled>Amazon</button><br>
                {%for product in amazon_products%}
                <li class="list-group-item"><a class="btn btn-primary" href="#" role="button">{{product.product_name}}</a></li>
                {%endfor%}
                <br><button tpye="button" class="btn btn-warning mb-3" disabled>NewEgg</button><br>
                {%for product in new_egg_products%}
                <li class="list-group-item"><a class="btn btn-warning" href="#" role="button">{{product.product_name}}</a></li>
                {%endfor%}
            </ul>
        </div>
        <div class="col-lg-8">
            {%block table%}
            {%endblock%}
        </div>
    </div>
</div>

<script>
    const buttons = document.getElementsByName("options");
    const selected_tag = document.getElementById("selected-website");
    Array.from(buttons).forEach(button => button.addEventListener("click", function(event){
        selected_tag.innerHTML = event.target.value;
    }));
</script>
{%endblock%}