{%extends 'home.html'%}

{%block table%}
    <h3 class="text-center">{{product_name}}</h3><br>
    <table class="table table-bordered mt-3" style="max-height: 50vh;">
        <thead>
            <tr>
                <th style="width: 50%">Title</th>
                <th style="width: 50%">Price</th>
            </tr>
        </thead>
        <tbody>
            {%for product in dictionary%}
            <tr>
                <td style="width: 90%;">{{product.title[0]}}</td>
                <td style="width: 10%;">${{product.price[0]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
{%endblock%}